
@font-face {
    font-family: 'TT Lakes';
    src: url("../TTLakes/TTLakes-ExtraLight.eot");
    src: local("TT Lakes ExtraLight"), local("TTLakes-ExtraLight"), url("../TTLakes/TTLakes-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../TTLakes/TTLakes-ExtraLight.woff") format("woff"), url("../TTLakes/TTLakes-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url("../TTLakes/TTLakes-Regular.eot");
    src: local("TT Lakes Regular"), local("TTLakes-Regular"), url("../TTLakes/TTLakes-Regular.eot?#iefix") format("embedded-opentype"), url("../TTLakes/TTLakes-Regular.woff") format("woff"), url("../TTLakes/TTLakes-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url("../TTLakes/TTLakes-Bold.eot");
    src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("../TTLakes/TTLakes-Bold.eot?#iefix") format("embedded-opentype"), url("../TTLakes/TTLakes-Bold.woff") format("woff"), url("../TTLakes/TTLakes-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url("../TTLakes/TTLakes-Medium.eot");
    src: local("TT Lakes Medium"), local("TTLakes-Medium"), url("../TTLakes/TTLakes-Medium.eot?#iefix") format("embedded-opentype"), url("../TTLakes/TTLakes-Medium.woff") format("woff"), url("../TTLakes/TTLakes-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url("../TTLakes/TTLakes-DemiBold.eot");
    src: local("TT Lakes Condensed DemiBold"), local("TTLakesCondensed-DemiBold"), url("../TTLakes/TTLakes-DemiBold.eot?#iefix") format("embedded-opentype"), url("../TTLakes/TTLakes-DemiBold.woff") format("woff"), url("../TTLakes/TTLakes-DemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url("../TTLakes/TTLakes-DemiBoldItalic.eot");
    src: local("TT Lakes DemiBold Italic"), local("TTLakes-DemiBoldItalic"), url("../TTLakes/TTLakes-DemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../TTLakes/TTLakes-DemiBoldItalic.woff") format("woff"), url("../TTLakes/TTLakes-DemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}